.total__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.total__price-container {
  display: flex;
  align-items: center;
}

.total__icon {
  display: flex;
  align-items: center;
}

.total__icon svg {
  width: 36px;
  height: 36px;
}
