.burger-container {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  gap: 40px;
}

.burger-container__error {
  grid-area: 1 / 1 / -1 / -1;
  margin: 300px 0 0;
  text-align: center;
}
