.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  position: relative;
  z-index: 1;
}

.modal__button-close {
  position: absolute;
  height: 24px;
  top: 60px;
  right: 40px;
  background-color: transparent;
  padding: 0;
  border: 0;
  z-index: 1;
}
