.ingr-det {
  min-width: 640px;
  padding: 52px 40px;
  background-color: #1C1C21;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingr-det__title {
  align-self: flex-start;
}

.ingr-det__list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
}

.ingr-det__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

