.profile-page {
  max-width: 1240px;
  margin: 0 auto;
  padding: 120px 0 0;
  display: flex;
  gap: 60px;
}

.profile-page__form {
  padding: 0 380px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile-page__buttons-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
