.order-list {
  background-color: #1c1c21;
  border-radius: 40px;
  margin: 0 0 16px;
  padding: 24px;
}

.order-list:last-child {
  margin: 0;
}


.order-list__link {
  text-decoration: none;
  color: white;
}

.order-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-list__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-list__images-list {
  display: flex;
  flex-direction: row;
}

.order-list__image-container {
  width: 64px;
  height: 64px;
  margin: 0 -16px 0 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(#131316, #131316) padding-box,
    linear-gradient(45deg, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  overflow: hidden;
}

.order-list__image {
  width: 112px;
  height: 56px;
}

.order-list__image-overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c21;
  opacity: 0.6;
}

.order-list__price-container {
  display: flex;
}
