.app-header {
  background-color: #2f2f37;
}

.app-header__nav-bar {
  max-width: 1280px;
  margin: 0 auto;
}

.app-header__menu {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-header__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header__menu-item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.app-header__menu-item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.app-header__menu-item:nth-child(4) {
  grid-area: 1 / 4 / 2 / 5;
}

.app-header__link {
  display: flex;
  text-decoration: none;
  color: #8585AD;
  z-index: 1;
  transition: opacity ease-in-out .3s;
}

.app-header__link_active {
  color: #F2F2F3;
}

.app-header__link:hover {
  opacity: .75;
}

.app-header__image {
  vertical-align: middle;
}

.app-header__logo {
  grid-area: 1 / 1 / -1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
